*{
     box-sizing: border-box;
}
body{
    
    margin: 0;
    padding: 0;
  
}



header{
    background: url(img/bg.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 500px;
}

.containner{
    display: flex;
    position:fixed;
    background-color: #000;
    top: 0px;
    width: 100%;
    height: 90px;
}

ul{  
    margin-left: 20px;
    margin-top: 40px;
}
li{ 
    display: inline;
    padding: 30px;
    
}
a{
    text-decoration: none;
    
    color: #FFFFFF;
    
}
.exp{
    color: #038DFE;
}
a:hover{
    
    color: #038DFE;
    
}
.logo{
    
    margin-left: 80px;
   position: relative;
    top: 20px;
    
}
.btn{
    
    background-color: #038DFE;
    border-radius: 10rem;
    padding: 10px 30px;
    color: #FFF;
    
    
}
.btn:hover{
    background-color: white;
    color: #000;
    cursor: pointer;
}

h1{
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}
p{
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}
.block2{
    
    margin-top: 65px;
     margin-left: 100px;
    padding-top: 140px;
    
}
.btn2{
    background: #038dfe;
    color: #FFF;
    border: none;
    font-weight: 600;
    letter-spacing: 0.08em;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    border-radius: 10rem;
    padding: 20px 35px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
.btn2:hover{
    
    background-color: white;
    color: #000;
    cursor: pointer;
}
.btn3{
    
    background: transparent;
     border: 2px solid #fff !important;;
    color: #FFF;
    border: none;
    font-weight: 600;
    letter-spacing: 0.08em;
   
    border-radius: 10rem;
    padding: 20px 35px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    outline: none;
    
}

.btn3:hover{
    
     background: #FFF;
     border: 2px solid #fff !important;;
    color: #000;
    border: none;
    font-weight: 600;
    letter-spacing: 0.08em;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    border-radius: 10rem;
    padding: 20px 35px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.About >h2{
   font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #2b2b2b;
    letter-spacing: 0.08em;
    text-align: center;
    
}
.About >p{
    padding-top: 20px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 25px;
    font-size: 15px;
    text-align: center;
    width: 980px;
    margin-left: 300px;
    
}
.container{
    
    display: flex;
    margin-top: 130px;
    margin-left: 80px;
}

.text1 > p,.text2 >p,.text3 >p{
    
    color: #000;
    text-align: center;
    padding-top: 20px;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    line-height: 25px;
    font-size: 14px;
    width: 380px;
    
}
.text1{
    margin-left: 50px;
}
.text2{
    margin-left: 70px;
}
.text3{
    margin-left: 90px;
}
.text2 >p{
    
    margin-top: 40px;
}
.Exp >img{
    
    margin-left: 100px;
    
}
.text1 >h2,.text2 >h2,.text3 >h2{
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.08em;
    font-weight: bold;
    font-family: inherit;
}
#setting{
    
    margin-left: 160px;
}
#flach_on{
    
    margin-left: 180px;
}
#favorite{
    margin-left: 180px;
}
.containner2{
    
    display: flex;
    margin-top: 60px;
}
.c1,.c2{
    
    flex: 1;
}
.c2 {
    
    background-color: #038dfe;
    padding-top: 100px;
    margin-left: -20px;
}
.c2 > h2{
        
color: #fff;
    font-family: 'Montserrat';
    /* letter-spacing: 5px; */
    font-weight: 600;
    text-align: center;
}
.c2 >p{
    font-size: 18px;
    margin: 25px 0;
    /* font-style: italic; */
    color: #fff;
    text-align: center;
}
.sous-classe >p{
    
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 1.7;
    color: #FFF;
    letter-spacing: 0.08em;
    margin: 0px;
    display: block;
    text-align: left;
    margin-left: 50px;
    
}

/* */
.containner3{
    
    margin-top: 160px;
    
}
.bg-img{
    
    background:  linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/bg2.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 500px;
    
  

}
.content{
    
    
    padding-top: 80px;
    padding-left: 650px;
    
}
.content > h3{
  color: #038DFE;
  font-family: 'Montserrat';
  padding-left: 60px;
  padding-top: 50px;
  

}

.content > p{
    
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: bold;
    
}

.border {
    width: 1px;
    height: 20px;
    background: #038dfe;
    margin: 20px 120px;
}

.containner4{
    
    background-color: #038DFE;
    margin-top: -20px;
    display: flex;
    height: 200px;
    padding-left: 110px;
}
.cont-1,.cont-2,.cont-3{
    
    flex: 1;
    margin-left: 30px;
    
}
.border-1 {
    width: 1px;
    height: 150px;
    background: #0A0A0A;
    margin: 20px 120px;
   
  
}

.cont-1 > h1,.cont-2 > h1,.Cont-3 > h1{
    
   text-align: center;
    font-size: 40px;
} 

.cont-1 > p,.cont-2 > p,.cont-3 > p{
    
    text-align: center;
    font-size: 20px;
    font-style: normal;
    
}
.cont-3{
    
    padding-right: 100px;
}
.text{
    
    height: 400px;
}
.text > p{
    
    color: #000;
    padding-top: 120px;
    text-align: left;
    padding-left: 120px;
    font-family: 'Open Sans', sans-serif;
    line-height: 3em;
    
}

.S1{
    
    font-size: 20px;
}

.cont12{
    
    margin-left: 650px;
    
    
}
.cont12 > h1{
    
  color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    line-height: 60px;
    font-size: 40px;
   position: relative;
    right: 80px;
    
    
}
.cont12 > .imgg{
    
    margin-left: 100px;
    margin-top: 30px;
}
.genrale{
    
   padding-top: 100px;
    padding-bottom: 50px;
    
   
    
}
.genrale > p{
    
    color: #000; 
    display: inline;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #2b2b2b;
    letter-spacing: 0.08em;
    position: relative;
    right: 300px;
    font-size: 30px;
}
.genrale > a{
    
    background-color: #038DFE;
    border-radius: 10rem;
    padding: 10px 130px;
    color: #FFF;
    font-family: 'Montserrat';
    position: relative;
    right: 240px;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    
  
}

.genrale > a:hover{
    
    background-color: white;
    color: #000;
    cursor: pointer;
    
}


footer{
    
    background-color: #2B2B2B;
}
.foo{
    display: flex;
    
}

.foo1{
    
    margin-left: 60px;
    
}
.foo2 > p{
    
    margin-left: 500px;
    margin-top: 30px;
}
.foo3{
    padding-left: 360px;
}
.icons{
    margin-left: 100px;
}
.mail{
   position: relative;
    bottom: 10px;
}
i{
    margin-left: 10px;
}























