@media screen and (max-width: 590px){
    .logo{
        margin: auto;
        display: block;
    }
    .menu .But{
        padding: 5px 8px;
        font-size: 10px;
    }
    .menu li a{font-size: 13px;}
    .but4{
        display: block;
        width: 100%;
        margin: auto;
    }
	footer{
		height:auto;
	}
	.same {
	width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
	

}


@media screen and (max-width: 354px){
	.titre{
		left:0;
	}
	.B2{
		font-size:14px;
		margin-left:0px;
	}
	
	
	
	
}


@media screen and (max-width: 279px){




}